.dark-blue {
    background-color: #4278f5 !important;
}

.dark-purple {
    background-color: #00838F !important;
    /* background-image: linear-gradient(to right top, #370516, #590034, #710063, #710fa2, #1241eb); */
}

.body {
    /* background-image: linear-gradient(to right top, #e70505, #e30038, #d2005b, #b40078, #8b008d, #7b189b, #6527a8, #4432b4, #533dc5, #6348d7, #7253e9, #815ffb); 
    */  
    background-color: #e7e7e7;  
}

.navbar.navbar-3 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=6a1b9a');
}

.title-detail-blog {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content-detail {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12pt;
}
.badge-green-cyan {
    background-color: #00838F !important;
}
.title-name-detil {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10pt;
}
.comment-content-detail {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 9pt;
}
.title-product-header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-size: 12pt; */
    color: #000;
}

/* Wave */
.wave {
    width: 35%;
    border-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 15' width='12' height='15'><path fill='none' stroke'rgba(191, 191, 191, 0.9)' stroke-width='3' d='M0,13.5c3,0,3-12,6-12s3,12,6,12'/></svg>") 0 0 100% repeat;
    border-width: 0 0 15px;
    border-style: solid;
    position: relative;
  }
.wave:before, .wave:after {
    position: absolute;
    display: block;
    width: 20px;
    height: 30px;
    background-color: #bfbfbf;
    bottom: -22.5px;
}
.wave:before {
    border-radius: 30px 0 0 30px;
    left: -2px;
}
.wave:after {
    border-radius: 0 30px 30px 0;
    right: -2px;
}

.accessory {
    height: 6px;
    background-image: radial-gradient(
        closest-side,
        hsla(0, 0%, 50%, 1.0),
        hsla(0, 0%, 50%, 0) 100%);
    position: relative;
}
.zoom:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    opacity: 1;
    border-radius: 25px;
    cursor: pointer;
}
.zoom {
    opacity: 0.7;
    transition: 0.3s;
}
.card-text:hover {
    cursor: pointer;
}
